body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #005f99;
}

h2 {
    color: #0077cc;;
    margin-top: 40px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.highlight {
    color: #e63946;
    font-weight: bold;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
    display: block;
    margin: 20px auto; /* auto secara horizontal + jarak atas */
    width: 100%;
    max-width: 500px; /* biar gak terlalu besar di layar besar */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.marquee {
    background: #dff9fb;
    color: #130f40;
    padding: 10px;
    font-weight: bold;
}

.animated-text {
    display: inline-block;
    animation: fadeIn 3s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}